.Navbar {   
    padding: 20px;

    background-color: var(--theme_color);

    & .list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;

        list-style: none;
        padding: 0;

        & .item {
            & .link {
                color: var(--font_main_color);
                font-size: 20px;
            }
        }
    }
}