.ToggleTheme {
    width: 70px;
    height: 36px;
    position: relative;

    border: 2px solid var(--font_contrast_color);
    border-radius: 35px;
    background-color: var(--contrast_color);

    color: var(--font_contrast_color);

    outline: none;


    
    &.darkTheme {
        &::after {
            margin-left: 34px;
        }
    }
    
    &::after {
        content: '';
        position: absolute;
        left: 1px;
        right: 1px;
        top: 1px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: var(--main_color);
        z-index: 10;

        transition: margin-left 200ms linear;

    }
}