:root {
  --font_main_color: #000000;
  --font_light_color: #666666;
  --font_contrast_color: #ffffff;
  
  --main_color: #f2f2f2;
  --light_color: #999999;
  --success_color: #009700;


  --contrast_color: #333333;
  --contrast_hover_color: #2ea8e6;
}

.darkTheme {
  --font_main_color: #ffffff;
  --font_light_color: #666666;
  --font_contrast_color: #000000;

  --main_color: #333333;
  --light_color: #666666;

  --contrast_color: #f2f2f2;
  --contrast_hover_color: #e62e7a;
}
