.App {
    display: grid;
    grid-template: 
        'header header header' 50px
        'nav    main   main'
        'footer footer footer' 50px
        /auto   2fr    2fr;

    min-width: 100vw;
    min-height: 100vh;
    
    background-color: var(--main_color);

    & .nav {
        grid-area: nav;
    }
    
    & .header {
        grid-area: header;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 5px 20px;
        background-color: var(--light_color);
    }

    & .main {
        grid-area: main;
    }

    & .footer {
        grid-area: footer;
    }
}